<html>
<head>
  <title>Zara Aina</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/croc.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/croc.js"></script>
</head>
<body>

  <div class="container">
    <img id="croc" src="/img/croc.jpg" />
    <br />

    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% @messages.each do |message| %>
          <div class="item"><h1 class="message">
            "<%= message.content %>"
          </h1></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text_info">
    Text (646) 3 ZARA 88 with your submission
  </div>
  <div class="credit">
    Built by Josh Rowley | jrowdev.com
  </div>
  <script>$('.carousel').carousel({interval: 5000})</script>
  </body>
</html>

