<html>
<head>
</head>

<body>
  <ul>
    <% @messages.each do |message| %>
      <li><%= message.content %>
      <%= message.number %>
      <%= message.date_created %></li>
    <% end %>
  </ul>
</body>


</html>