<% @messages.sort_by(&:date_created).reverse.each do |message| %>
  <div class="item" timestamp="<%= message.date_created %>"><h1 class="message">
    "<%= message.content %>"
  </h1></div>
<% end %>


THIS IS WORKING!!!!!