img#croc {
  width: 500px;
}

ul {
}

.container {
  width: 500px;
  height: 650px;
  margin: 0 auto;
}

.message {
  text-align: center;
}

#myCarousel {
  margin-top: 20px;
}

.credit  { 
  position:fixed; 
  bottom:2%; 
  right:2%; 
  text-align: right; 
}
.text_info { font-size: 2em; text-align: center; margin: 0 auto;}