img#croc {
  width: 500px;
}

ul {
}

.container {
  width: 500px; 
  margin: 0 auto;
}

.message {
  text-align: center;
}

#myCarousel {
  margin-top: 20px;
}

.credit  { position:fixed; bottom:2%; right:2%; }
.text_info { position:fixed; bottom: 2%; left: 2%;}